<section class="content">
    <div class="box box-widget widget-user">
        <div class="widget-user-header bg-black cover link" th:onclick="'linkJogoInfo('+${jogo.id}+')'" th:style="'background:url(/imagem/' + ${jogo.foto.id} + ') center;'">            
        </div>
        <div class="widget-user-image">
        </div>
        <div class="box-footer links">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block link" th:onclick="'linkJogoMembros('+ ${jogo.id} +')'">
                        <h5 class="description-header"><i class="fa fa-users"></i></h5>
                        <span id="numeroMembros" class="description-text" th:text="${jogo.qtdMembros()}">à implementar</span>
                    </div><!-- /.description-block -->
                </div><!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block border-right">
                        <h5 class="description-header"><i class="fa fa-camera"></i></h5>
                        <span class="description-text">à implementar</span>
                    </div><!-- /.description-block -->
                </div><!-- /.col -->                
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header"><i class="fa fa-calendar"></i></h5>
                        <span class="description-text" th:text="${jogo.horario}"></span>
                    </div><!-- /.description-block -->
                </div><!-- /.col -->                
            </div><!-- /.row -->
        </div>
        <div class="game-infos">
            <script th:inline="javascript">
                /*<![CDATA[*/
                linkJogoInfo([[${jogo.id}]]);
                /*]]>*/
            </script>
        </div>        
    </div>
</section>