.content-wrapper{
    margin:0px;
}
.cover{
    background-position: center;
    background-size: cover !important;
    height: 300px !important;
}
.widget-user-username{
    text-shadow: 1px 1px 1px black !important;
}
.active{
    background-color: rgba(0,0,0,0.5) !important;
}
.text-white{
    color:white;
}
.bg-verde-oliva{
    background-color: #2d4f36 !important;
    color:white;
}
.bg-white{
    background-color: white !important;
    color:black !important;
}
.bg-gray-dark{
    background-color: #222d32;
}
.btn-float{
    border-radius: 50%;
    padding:20px 25px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    position:fixed;
    bottom: 25px;
    right:25px;
    color:white !important;
}
.btn-float:hover{
    box-shadow: 1px 1px 20px rgba(0,0,0,0.7) !important;
    transition-duration: 0.5s;
}
.cover.cadastro{
    cursor: pointer;
}
.link{
    cursor: pointer;
}
.load-more .widget-user{
    background-color: rgba(0,0,0,0) !important;    
    color:white;
    box-shadow: 0px 0px 0px black;
    text-align: center;
    padding-top:25%;
}
.box-footer.links{
    padding:0px;
}
.box-footer.links h5{
    color:gray;
}
.game-info{
    padding:0px 20px !important;
}
.game-info p{
    color:gray;
}
.btn.adicionar{
    width:100%;
    text-align: center;
    color:white !important;
}
.game-actions{
    padding:0px 15px;    
}
.jogo-imagens > img{
    width:100%;
    border: 3px solid black;
}